@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('./font/ubuntu/Ubuntu-Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'Ubuntu-Bold';
    background: url('./icon.png');
}

